<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="JDT Extension"
            id="org.yli.eclipse.jdt.extension.category"
            name="%JDT_EXTENSION">
      </category>
      <command
            categoryId="org.yli.eclipse.jdt.extension.category"
            defaultHandler="org.yli.eclipse.jdt.extension.handlers.GenerateGuavaToStringHandler"
            id="org.yli.eclipse.jdt.extension.generate_guava_to_string"
            name="%GENERATE_TO_STRING">
      </command>
      <command
            categoryId="org.yli.eclipse.jdt.extension.category"
            defaultHandler="org.yli.eclipse.jdt.extension.handlers.GenerateGuavaHashcodeAndEqualsHandler"
            id="org.yli.eclipse.jdt.extension.generate_guava_hashcode_equals"
            name="%GENERATE_HASHCODE_EQUALS">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.yli.eclipse.jdt.extension.handlers.GenerateGuavaToStringHandler"
            commandId="org.yli.eclipse.jdt.extension.generate_guava_to_string">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="%JDT_EXTENSION">
            <command
                  commandId="org.yli.eclipse.jdt.extension.generate_guava_to_string"
                  label="%GENERATE_TO_STRING"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.java">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.yli.eclipse.jdt.extension.generate_guava_hashcode_equals"
                  label="%GENERATE_HASHCODE_EQUALS"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.yli.eclipse.jdt.extension.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.yli.eclipse.jdt.extension.generate_guava_to_string"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.yli.eclipse.jdt.extension.scheme"
            sequence="M1+T">
      </key>
      <scheme
            id="org.yli.eclipse.jdt.extension.scheme"
            name="%JDT_EXTENSION">
      </scheme>
      <key
            commandId="org.yli.eclipse.jdt.extension.generate_guava_hashcode_equals"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.yli.eclipse.jdt.extension.scheme"
            sequence="M1+H">
      </key>
   </extension>

</plugin>
